.shoe_container {
  z-index: 2;
  min-height: 100vh;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 100vw;

  overflow: hidden;
}

.hero_left {
  grid-column: 1;
  grid-row: 1;
}

.text_2 {
  display: flex;

  flex-direction: column;
  justify-self: center;
  align-self: center;
  position: relative;
  min-height: 100vh;
  float: left;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  min-height: 100vh;
  min-width: 50vw;
  margin: 0 0;
}

.hero_right {
  grid-column: 2;
  grid-row: 2;
  min-height: 100vh;
  width: 50vw;
  top: 200%;
  align-self: flex-end;
  flex: 1;
}
